#precarga {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
}



/*Body*/
body {
  background-color: #fff;
  color: #4d1fa1;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizelegibility;
}

.red{
	background-color: red;
}

.green{
	background-color: green;
}

.div1{
	height: 2000px;
}

.div2{
	height: 1500px;
}